<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zaloguj się do Oasis</title>
    <link rel="icon" type="image/png" href="public/img/oasis_favicon.png"/>
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/login.css">
</head>
<body>
    <div class="image"></div>
    <div class = "separator1"></div>
    <div class = "separator2"></div>
    <form action="\login" method="POST">
        <h1 id="title">Witaj w Oasis</h1>
        <h4 id="subtitle">Zaloguj się, aby zarządzać swoim inteligentnym ogrodem</h4>

        <?php if(isset($message)): ?>
            <p class="message">
                <?= $message; ?>
            </p>
        <?php endif; ?>
        
        <div class="login-form">
            <div class="field">
                <label for="email">Adres email</label>
                <input id="email" name="email" type="email" placeholder="Wprowadź swój adres email" autocomplete="email">
            </div>
            <div class="field">
                <label for="password">Hasło</label>
                <input id="password" name="password" type="password" placeholder="Wprowadź swoje hasło" autocomplete="current-password">
            </div>
        </div>

        <button type="submit" class="login-btn">Zaloguj się</button>
        <div class="separator">
            <span>lub</span>
        </div>
        <button class="google-btn">
            Zaloguj się przez Google
            <img src="/public/img/google-logo.png" alt="Google logo">
        </button>

        <a href="\register">Zarejestruj się</a>
    </form>

</body>

</html>
